body {
    margin: 0;
    text-align: center;
}

#h1{
    background-color: #d3e0ea;
}

.f1{
    padding: 2% 15% 2%;
}

#b1{
    background-color: #f6f5f5;
    padding: 3%;
}

.f2{
    width: 60%;
    margin: auto;
    padding: 3%;
    border: none;
    border-radius: 2%;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

label{
    font-size: 1rem;
    font-weight: bold;
}